<div class="mainform" style="padding:5px">

    <div class="titleform">Administration</div>

    <mat-accordion [multi]="false" style="text-align: left;display:inline-block;min-width: 1000px;">

        <mat-expansion-panel  [expanded]="true">
            <mat-expansion-panel-header>

                Général

            </mat-expansion-panel-header>
            <button mat-raised-button class="app-button" (click)="router.navigate(['search'])">Recherche</button>

            <button mat-raised-button class="app-button" (click)="openQuery()">Extraction</button>

            <button mat-raised-button class="app-button" (click)="openAPI()">APIs</button>
            <button mat-raised-button class="app-button" (click)="initdb()">Initialisation</button>
            <button mat-raised-button class="app-button" color="warn" (click)="raz('all')">Effacement TOTAL</button>

            <button mat-raised-button class="app-button" (click)="export_dict()">Dictionnaire sous Excel</button>

            <button mat-raised-button class="app-button" (click)="apply_dict()"
                    title="Uniformiser la terminologie en réappliquant le dictionnaire">Terminologie</button>

            <hr>
            <button mat-raised-button class="app-button" (click)="send_update()"
                    color="secondary">Demande de mise a jour</button>
        </mat-expansion-panel>


        <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>Backup</mat-expansion-panel-header>
            <app-input label="Charger la base" value_type="list"
                       width="300px" [options]="backup_files" value_field="value"
                       (valueChange)="sel_backup_file=$event" [value]="sel_backup_file">
            </app-input>
            <button mat-raised-button class="app-button"
                    (click)="load_backup()" >Charger</button>
            <button mat-raised-button class="app-button"
                    (click)="save_backup()" >Enregistrer</button>
        </mat-expansion-panel>

            <mat-expansion-panel [expanded]="show_server">
            <mat-expansion-panel-header>

                Serveur

            </mat-expansion-panel-header>

            <div style="width: 90%;background-color: #c4c4c4;padding: 10px;margin-left: 5%;min-height: 500px;" class="mat-elevation-z4">
                <ngx-json-viewer [expanded]="true" [json]="info_server"></ngx-json-viewer>
            </div>

            <button mat-raised-button class="app-button" (click)="refresh_server()">Refresh</button>
            <button mat-raised-button class="app-button" (click)="openDjangoAdmin()">Admin Serveur</button>

            <button mat-raised-button class="app-button" (click)="openServer('https://207.180.198.227:9090/system/terminal')">
                Connexion serveur Django
            </button>

            <button mat-raised-button class="app-button" (click)="openServer('https://161.97.75.165:9090/system/terminal')">
                Connexion serveur Postgre
            </button>


        </mat-expansion-panel>




        <mat-expansion-panel  [expanded]="true">
            <mat-expansion-panel-header>

                Gestion des profils

            </mat-expansion-panel-header>
            <a routerLink="stats" [queryParams]="{open:'student_by_lastmodification'}">Avancement des mises a jours</a><br><br>
            <button mat-raised-button class="app-button" (click)="export_profils('S')">Export FI</button>
            <button mat-raised-button class="app-button" (click)="export_profils('P')">Export FPro</button>
            <button mat-raised-button class="app-button" (click)="raz('profils')">RAZ profils</button>
            <button mat-raised-button mat-button
                    class="app-button" (click)="router.navigate(['import'])">Importation
            </button>
            <br>
            <button mat-raised-button class="app-button"
                    title="Traitement qualité sur les profils (et Awards)"
                    (click)="analyzer('profils,awards')">
                Traitement Qualite
            </button>



            <p>Gestion des contributions</p>
            <button mat-raised-button class="app-button" (click)="raz('works imdb')">RAZ IMDB</button>
            <button mat-raised-button class="app-button" (click)="raz('works unifrance')">RAZ Unifrance</button>
            <button mat-raised-button class="app-button" (click)="raz('works')">RAZ total</button>

        </mat-expansion-panel>



        <mat-expansion-panel  [expanded]="true">
            <mat-expansion-panel-header>

                Gestion des utilisateurs

            </mat-expansion-panel-header>
            <table style="font-s0ize: small;line-height: 85%;text-align: center;width:100%;padding: 10px;" class="mat-elevation-z4">
                <tr>
                    <th>Login</th>
                    <th>Profils</th>
                    <th>Demande</th>
                    <th>Commandes</th>
                </tr>
                <tr *ngFor="let u of users" style="width: 100%">
                    <td style="width: 40%;">{{u.user.username}}</td>
                    <td style="width: 15%;">

                        <app-input [options]="profils" [value]="u.profil_name" value_field="id"
                                   (valueChange)="update_profil(u,$event)"></app-input>

                        <!--            <mat-form-field appearance="outline">-->
                        <!--              <mat-select id="selFormationFilter" [(ngModel)]="u.profil_name" (selectionChange)="update_profil(u)">-->
                        <!--                <mat-option *ngFor="let p of profils" [value]="p.id">-->
                        <!--                  {{p.title}}-->
                        <!--                </mat-option>-->
                        <!--              </mat-select>-->
                        <!--            </mat-form-field>-->

                    </td>
                    <td style="width: 15%;">{{u.ask}}</td>
                    <td>
                        <mat-icon title="Supprimer le compte" class="mini-icon-button" (click)="del_user(u)">delete</mat-icon>
                        <mat-icon title="Accepter la demande de profil" style="font-size: 15px;cursor: pointer;" (click)="accept_ask(u)">checkmark</mat-icon>
                        <mat-icon title="Refuser la demande de profil" style="font-size: 15px;cursor: pointer;" (click)="cancel_ask(u)">cancel</mat-icon>
                        <mat-icon style="font-size: 15px;cursor: pointer;" (click)="send_email(u)">email</mat-icon>
                    </td>
                </tr>
            </table>
        </mat-expansion-panel>


        <mat-expansion-panel  [expanded]="true">
            <mat-expansion-panel-header>
                NFT
            </mat-expansion-panel-header>
            <button mat-raised-button class="app-button" (click)="init_nft()">Init NFT</button>
        </mat-expansion-panel>


        <mat-expansion-panel  [expanded]="true">
            <mat-expansion-panel-header>

                Gestion du catalogue de film

            </mat-expansion-panel-header>


            <mat-checkbox [(ngModel)]="config?.values?.catalog.imdb" >
                IMDB
            </mat-checkbox>
            &nbsp;&nbsp;&nbsp;

            <mat-checkbox [(ngModel)]="config?.values?.catalog.unifrance" >
                unifrance
            </mat-checkbox>
            &nbsp;&nbsp;&nbsp;

            <mat-checkbox [(ngModel)]="config?.values?.catalog.senscritique">
                senscritique
            </mat-checkbox>
            &nbsp;&nbsp;&nbsp;

            <mat-checkbox [(ngModel)]="config?.values?.catalog.lefilmfrancais">
                lefilmfrancais
            </mat-checkbox>
            &nbsp;&nbsp;&nbsp;
            <mat-checkbox [(ngModel)]="config?.values?.catalog.cnc">
                Le CNC
            </mat-checkbox>

            <br><br>

            <button mat-raised-button mat-button
                    class="app-button" (click)="batch(1,200,false)">Mise a jour
            </button>

            <button mat-raised-button mat-button
                    class="app-button" (click)="ask_for_filter()">
                MAJ filtrée
            </button>

            <button mat-raised-button mat-button
                    class="app-button" (click)="batch(0,31,true)">
                <div class="bloc-bouton">Mise a<br>jour forcée des profils</div>
            </button>

            <button mat-raised-button mat-button
                    class="app-button" (click)="batch(0,0)">
                <div class="bloc-bouton">Mise a<br>jour forcée totale</div>
            </button>

            <button mat-raised-button mat-button
                    title="Analyse film par film pour éventuel complément via d'autres sources"
                    class="app-button" (click)="batch_movies()">Complete Movies
            </button>

            <button mat-raised-button mat-button
                    title="Réindexation elasticsearch"
                    class="app-button" (click)="update_index()">Réindexer
            </button>

            <button mat-raised-button mat-button
                    title="Traitement qualité des films"
                    class="app-button" (click)="analyzer('films')">Traitement Qualite
            </button>

            <button mat-raised-button class="app-button" (click)="raz('pows')">Effacer les Films</button>

        </mat-expansion-panel>

    </mat-accordion>

    <br>
    <app-hourglass [message]="message"></app-hourglass>
    <br>
</div>
