<div class="mainform" style="padding:5px">

  <h2>Commandes disponibles</h2>




  <mat-accordion [multi]="false" style="text-align: left;">


    <mat-expansion-panel class="app-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Général
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-raised-button mat-button class="app-button" (click)="router.navigate(['search'])">Recherche</button>

      <button mat-raised-button mat-button class="app-button" (click)="openQuery()">Extraction</button>

      <button mat-raised-button mat-button class="app-button" (click)="openAPI()">APIs</button>
      <button mat-raised-button mat-button class="app-button" (click)="initdb()">Initialisation</button>


      <button mat-raised-button mat-button class="app-button" (click)="apply_dict()"
              title="Uniformiser la terminologie en réappliquant le dictionnaire">Terminologie</button>



      <hr>
      <button mat-raised-button mat-button class="app-button" (click)="send_update()" color="secondary">Demande de mise a jour</button>


    </mat-expansion-panel>

 <mat-expansion-panel class="app-panel" [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
          Serveur
        </mat-panel-title>
      </mat-expansion-panel-header>

       <button mat-raised-button mat-button class="app-button" (click)="openDjangoAdmin()">Admin Serveur</button>

      <button mat-raised-button mat-button class="app-button" (click)="openServer('https://207.180.198.227:9090/system/terminal')">
        Connexion serveur Django
      </button>

      <button mat-raised-button mat-button class="app-button" (click)="openServer('https://161.97.75.165:9090/system/terminal')">
        Connexion serveur Postgre
      </button>


    </mat-expansion-panel>




    <mat-expansion-panel class="app-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Gestion des profils
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-raised-button mat-button class="app-button" (click)="export_profils('S')">Export FI</button>
      <button mat-raised-button mat-button class="app-button" (click)="export_profils('P')">Export FPro</button>
      <button mat-raised-button mat-button class="app-button" (click)="raz('profils')">RAZ profils</button>
      <button mat-raised-button mat-button
              class="app-button" (click)="router.navigate(['import'])">Importation
      </button>
      <br>
      <button mat-raised-button mat-button class="app-button" (click)="analyzer('profils')">Traitement Qualite</button>



      <p>Gestion des contributions</p>
      <button mat-raised-button mat-button class="app-button" (click)="raz('works imdb')">RAZ IMDB</button>
      <button mat-raised-button mat-button class="app-button" (click)="raz('works unifrance')">RAZ Unifrance</button>
      <button mat-raised-button mat-button class="app-button" (click)="raz('works')">RAZ total</button>

    </mat-expansion-panel>




    <mat-expansion-panel class="app-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          NFT
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-raised-button mat-button class="app-button" (click)="init_nft()">Init NFT</button>
    </mat-expansion-panel>








    <mat-expansion-panel class="app-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Gestion du catalogue de film
        </mat-panel-title>
      </mat-expansion-panel-header>


      <mat-checkbox [(ngModel)]="config?.values?.catalog.imdb" >
        IMDB
      </mat-checkbox>
      &nbsp;&nbsp;&nbsp;

      <mat-checkbox [(ngModel)]="config?.values?.catalog.unifrance" >
        unifrance
      </mat-checkbox>
      &nbsp;&nbsp;&nbsp;

      <mat-checkbox [(ngModel)]="config?.values?.catalog.senscritique">
        senscritique
      </mat-checkbox>
      &nbsp;&nbsp;&nbsp;

      <mat-checkbox [(ngModel)]="config?.values?.catalog.lefilmfrancais">
        lefilmfrancais
      </mat-checkbox>
      &nbsp;&nbsp;&nbsp;
      <mat-checkbox [(ngModel)]="config?.values?.catalog.cnc">
        Le CNC
      </mat-checkbox>

      <br><br>



      <button mat-raised-button mat-button
              class="app-button" (click)="batch(1,200,false)">Mise a jour
      </button>

      <button mat-raised-button mat-button
              class="app-button" (click)="batch(0,31,true)">
        <div class="bloc-bouton">Mise a<br>jour forcée des profils</div>
      </button>

      <button mat-raised-button mat-button
              class="app-button" (click)="batch(0,0)">
        <div class="bloc-bouton">Mise a<br>jour forcée totale</div>
      </button>

      <button mat-raised-button mat-button
              class="app-button" (click)="batch_movies()">Batch Movies
      </button>

      <button mat-raised-button mat-button
              title="Réindexation elasticsearch"
              class="app-button" (click)="update_index()">Réindexer
      </button>

      <button mat-raised-button mat-button
              title="Traitement des doublons films"
              class="app-button" (click)="analyzer('films')">Traitement Qualite (doublons)
      </button>


      <button mat-raised-button mat-button class="app-button" (click)="raz('pows')">Effacer les Films</button>




    </mat-expansion-panel>






  </mat-accordion>


  <app-hourglass [message]="message"></app-hourglass>
  <br>
</div>
