td
  padding: 2px
  width: 50%
  text-align: left

tr
  width: 90% !important
  max-width: 1000px

table
  display: inline-block
  width: 100% !important
  font-size: small
  line-height: 85%
  margin-left: 5%
  max-width: 1000px
  background-color: #4b4a4a


.detail_stat_format
  width: 100%
  padding: 0
  margin: 0
