<app-tuto title="<br><br><br><br><br><strong>Les statistiques</strong>"
          color="white"
          image=""
          subtitle="Analyser les parcours et personnaliser les nombreux rapports disponibles sur l'activité de l'école"
          background="./assets/img/charts.jpeg">
</app-tuto>

<div class="mainform" style="height: 100%;">

  <app-hourglass [message]="message"></app-hourglass>
  <div *ngIf="sel_report=='building'">
    <br>
    Rapport en cours de construction
  </div>

  <mat-tab-group style="height: 87vh;text-align: center;"
                 id="tabStats"
                 #tabGroup mat-align-tabs="start"
  >

    <mat-tab name="tabs" label="Rapports pré-définis">

      <br>
      <mat-form-field appearance="fill" style="width: 80%;max-width: 500px;">
        <mat-label>Sélectionner un rapport</mat-label>
        <mat-select [(value)]="sel_report" (selectionChange)="change_report($event)" id="lstReports">
          <mat-option *ngFor="let report of instant_reports" [value]="report">
            {{report.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      &nbsp;
      <div *ngIf="filter_values?.length>0" style="display: inline-block;">
        <mat-form-field class="app-field" style="font-size: medium;max-width: 150px;" id="lstFilter" >
          <mat-label>{{filter_name}}</mat-label>
          <mat-select [(ngModel)]="sel_filter" (selectionChange)="refresh_stats()">
            <mat-option *ngFor="let filter_value of filter_values" [value]="filter_value">{{filter_value}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon style="cursor: pointer;font-size: small;"
                  *ngIf="sel_filter?.length>0"
                  (click)="cancel_filter()">cancel</mat-icon>
      </div>
      <mat-icon [title]="sel_report.description" style="cursor: help;" *ngIf="sel_report.description?.length>0">help</mat-icon>


      <div style="width: 100%;text-align: center;position: relative;">
        <div *ngIf="!sel_report?.html_code" style="width:80%;display: inline-block;text-align: center;margin-top: 10%;">
          Calcul en cours de<br>
          <strong>{{sel_report.title}}</strong><br>
          <br>
          {{sel_report.description}}
        </div>

        <iframe *ngIf="sel_report?.html_code"
                class="mat-elevation-z4"
                style="padding: 0px;width: 95%;height:69vh;border:None;display: inline-block;margin:0px;"
                [title]="sel_report.description"
                [srcdoc]="sel_report.html_code | safe"
                >
        </iframe>
      </div>



      <br>
      <div *ngIf="sel_report?.html_stat?.length>0 && message.length==0" style="min-width:300px;height: auto;margin:10px;overflow: scroll;">
        <mat-expansion-panel class="app-panel" style="display: inline-block;"
                             [expanded]="false" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Données détaillées
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div style="width: 90%;height:300px;border:None"
               [innerHTML]="sel_report.html_stat | safe">
          </div>
        </mat-expansion-panel>
      </div>


    </mat-tab>

    <mat-tab name="tabs" label="Exports" *ngIf="config.hasPerm('export_stats')">

      <mat-form-field class="app-field" style="font-size: medium;max-width: 300px;" id="lstRapports">
        <mat-label>Rapports statistiques disponibles</mat-label>
        <mat-select [(ngModel)]="sel_report">
          <mat-option *ngFor="let report of reports" [value]="report.url">{{report.title}}</mat-option>
        </mat-select>
        <mat-hint>Sélectionner le rapport que vous souhaitez consulter</mat-hint>
      </mat-form-field>

      <button mat-button mat-raised-button
              class="app-button"
              id="cmdOpenStat" color="primary"
              *ngIf="sel_report?.length>0 && sel_report!='building'"
              (click)="openStats()">
        Ouvrir
      </button>

      <br>
      <table class="mat-elevation-z8" *ngIf="!showGraphQL">
        <tr>
          <td>Données brutes</td>
          <td style="text-align: left;">
            <button mat-button mat-raised-button class="app-button" style="width: 120px;"
                    (click)="downloadReport('csv')">
              <mat-icon>download</mat-icon>&nbsp;CSV
            </button>
            &nbsp;
            <button mat-button mat-raised-button class="app-button" style="width: 120px;"
                    (click)="downloadReport('xml')">
              <mat-icon>download</mat-icon>&nbsp;XML
            </button>
          </td>
        </tr>

        <tr>
          <td>Modèle d'analyse</td>
          <td style="text-align: left;">
            <button mat-button mat-raised-button class="app-button" style="width: 120px;"
                    (click)="downloadReport('excel')">
              <mat-icon>download</mat-icon>
              Excel
            </button>
            &nbsp;
            <button mat-button mat-raised-button class="app-button" style="width: 120px;"
                    (click)="downloadReport('powerbi')">
              <mat-icon>download</mat-icon>
              PowerBI
            </button>
          </td>
        </tr>
      </table>
    </mat-tab>

    <mat-tab name="tabs" label="Documentation">
      <br>
      <p>Ci joint la liste des données disponibles via DataCulture pour construire les reportings</p>
      <table class="mat-elevation-z4"  *ngIf="rows.length>0" style="padding: 15px;">
        <tr>
          <th style="text-align: left;">Nom du champs</th>
          <th>Signification</th>
          <th style="text-align: right;">Catégorie</th>
        </tr>
        <tr *ngFor="let row of rows" style="width: 90% !important;">
          <td style="width: 20%;max-width: 60px;">{{row.field}}</td>
          <td>{{row.description}}</td>
          <td style="width: 20%;text-align: right;">{{row.table}}</td>
        </tr>
      </table>
    </mat-tab>

  </mat-tab-group>

  <br>
  <br>


  <div *ngIf="showGraphQL">
    <app-tuto label="Grâce aux langages GraphQL vous pouvez interroger la base des anciens éleves"></app-tuto>
    <textarea
      [rows]="10"
      style="margin:2%;width: 95%;background-color: lightgray;"
      placeholder="Votre requête ici" [(ngModel)]="query">
    </textarea>
  </div>



</div>

<div class="bottom-bar">
  <hr>

  <!--    <button mat-button mat-raised-button-->
  <!--            *ngIf="config.query_cache?.length>0"-->
  <!--            title="Exporter le résultat de votre dernière recherche"-->
  <!--            class="app-button"-->
  <!--            (click)="export_stats()">-->
  <!--      Export-->
  <!--    </button>-->

  <div *ngIf="tabGroup?.selectedIndex==0" style="display: inline-block">
    <button mat-button mat-raised-button
            class="app-button"
            id="cmdOpen"
            *ngIf="sel_report?.url?.length>0"
            (click)="open_stats()">
      <div class="bloc-bouton">Agrandir le<br>graphique</div>
    </button>

    <button mat-button mat-raised-button
            class="app-button"
            id="cmdExport"
            *ngIf="sel_report?.url?.length>0"
            (click)="export_stats()">
      <div class="bloc-bouton">Exporter<br>sous Excel</div>
    </button>

    <button mat-button mat-raised-button
            class="app-button"
            id="cmdShare"
            *ngIf="sel_report?.url?.length>0"
            (click)="share_stats()">
      <div class="bloc-bouton">Partager<br>le rapport</div>
    </button>

    <button mat-button mat-raised-button
            class="app-button"
            id="cmdRefresh"
            (click)="refresh_stats()">
      Refresh
    </button>

  </div>

  <button mat-button mat-raised-button
          class="app-button"
          id="cmdOpenSocialGraph"
          (click)="openSocialGraph()">
    <div class="bloc-bouton">Graphe<br>social</div>
  </button>

  <!--  <button mat-button mat-raised-button-->
  <!--          class="app-button"-->
  <!--          (click)="showGraphQL=true">-->
  <!--    GraphQL-->
  <!--  </button>-->

</div>
