<div class="mainform" style="text-align: center;width:100%;">

  <br>

  <mat-accordion style="display: inline-block;width:98%;">

    <mat-expansion-panel class="app-panel" style="text-align: left;" id="pnlGeneral" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Général
        </mat-panel-title>
      </mat-expansion-panel-header>
      mail: {{config.user.user.email}}
      <br>
      Profil {{config.config.appname}} associé: {{config.user.profil_name}}
    </mat-expansion-panel>

    <mat-expansion-panel class="app-panel" style="text-align: center;" id="pnlPerm">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Permissions
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="width: 96%;margin:2%;">
        <br>
        <h2>Actuellement vous avez accès:</h2>
        <div style="font-size: small;text-align: left;" [innerHTML]="show_perm"></div>
        <br>
        <br>

        <button class="app-button"
                mat-button mat-raised-button
                (click)="open_perms()">
          Modifier vos permissions
        </button>

        <app-tuto label="Certaines données de Data Culture sont en accès restreint. Pour y avoir accès il peut être nécéssaire d'en faire la demande à la FEMIS"></app-tuto>


      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="app-panel" style="text-align: center;" id="pnlJob">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Confidentialité
        </mat-panel-title>
      </mat-expansion-panel-header>

      <br>
      <a href="./rgpd">En savoir plus sur la conformité RGPD</a>
      <br>
      <br>

      <button class="app-button"
              color="primary"
              mat-button mat-raised-button
              (click)="raz()">
        Effacer votre compte
      </button>

    </mat-expansion-panel>







  </mat-accordion>


</div>
