<div class="mainform" style="text-align: center;width:100%;">

  <br>

  <mat-accordion style="display: inline-block;width:90%;max-width: 1200px;">
    <mat-expansion-panel  style="text-align: left;" id="pnlGeneral" [expanded]="true">
      <mat-expansion-panel-header>Général</mat-expansion-panel-header>
      <table>
        <tr>
          <th>Votre email </th>
          <td>{{config.user.user.email}}</td>
        </tr>
        <tr>
          <th>Profil </th>
          <td>{{config.config.appname}} associé: {{config.profils[config.user.profil_name]?.title}}</td>
        </tr>
      </table>

    </mat-expansion-panel>

    <mat-expansion-panel  style="text-align: left;" id="pnlPerm">
      <mat-expansion-panel-header>Permissions</mat-expansion-panel-header>
      <div style="width: 96%;margin:2%;">
        <br>
        Actuellement vous avez accès
        <div style="text-align: left;line-height: 120%;" class="mat-body-1" [innerHTML]="show_perm"></div>
        <br>
        <br>

        <button class="app-button"
                mat-button mat-raised-button
                (click)="open_perms()">
          Modifier vos permissions
        </button>

        <app-tuto label="Certaines données de Data Culture sont en accès restreint. Pour y avoir accès il peut être nécéssaire d'en faire la demande à la FEMIS"></app-tuto>

      </div>
    </mat-expansion-panel>

    <mat-expansion-panel  style="text-align: center;" id="pnlJob">
      <mat-expansion-panel-header>Confidentialité</mat-expansion-panel-header>
      <br>
      <a class="mat-body-2 primary-color" href="./rgpd">En savoir plus sur la conformité RGPD</a>
      <br>
      <br>

      <button class="app-button"
              color="primary"
              mat-button mat-raised-button
              (click)="raz()">
        Effacer votre compte
      </button>

    </mat-expansion-panel>







  </mat-accordion>


</div>
