<div style="margin:1%;text-align: center;min-width: 300px;">

  <app-tuto icon_button="login"
            [if]="!config.user?.email"
            (click)="router.navigate(['login'])"
            label="Connectez vous pour avoir accès à plus d'information sur les profils">
  </app-tuto>

  <app-tuto [delay]="10"
            label="Vous pouvez également consulter la liste des réalisations de la FEMIS, via le menu latéral"></app-tuto>

  <mat-form-field *ngIf="advanced_search.length==0" appearance="legacy" style="max-width:250px;width:96%;font-size: large;" autofocus>
    <mat-label>Rechercher un profil</mat-label>
    <input matInput matNativeControl
           id="txtSearch"
           title="Un ou plusieurs mots pour effectuer des recherches dans les métiers, les noms, les réalisations ..."
           (keyup)="onQuery($event)"
           placeholder="nom, métier, promotion ou titre d'une réalisation"
           [(ngModel)]="query.value">
    <mat-icon *ngIf="query.value?.length>0"
              matSuffix style="cursor: pointer"
              (click)="clearQuery()">cancel</mat-icon>
    <mat-icon *ngIf="query.value?.length==0"
              matSuffix style="cursor: pointer;font-size: medium;color:lightgray;"
              (click)="help()">help</mat-icon>
  </mat-form-field>  &nbsp;&nbsp;&nbsp;

  <div *ngIf="advanced_search.length>0" style="display: inline-block">
    <div *ngFor="let i of advanced_search" style="display: inline-block">
      <mat-form-field [ngStyle]="{width:i.width}">
        <mat-label>{{i.label}}</mat-label>
        <input matInput matNativeControl
               [title]="i.title"
               (keyup)="onQuery($event)"
               placeholder=""
               [(ngModel)]="i.value">
      </mat-form-field>
      &nbsp;
    </div>
    &nbsp;  &nbsp;  &nbsp;
  </div>

  <div *ngIf="profils?.length>3" style="display: inline-block" autofocus>
    <mat-form-field appearance="legacy"
                    style="max-width:150px;font-size: medium;">
      <mat-label>Trier par</mat-label>
      <mat-select id="selOrder" [(ngModel)]="order" (selectionChange)="refresh()">
        <mat-option *ngFor="let f of fields" [value]="f.value">
          {{f.field}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <br>



  <!--  <div *ngIf="config.hasPerm('advanced_search')">-->
  <!--       <mat-checkbox [checked]="searchInTitle">-->
  <!--          Chercher uniquement via les titres-->
  <!--        </mat-checkbox>-->
  <!--    </div>-->

  <div *ngIf="profils.length>8" style="display: inline-block;margin:5px;">
    <span *ngIf="profils.length==this.limit">+ de </span>
    {{profils.length}} profils &nbsp;- &nbsp;
  </div>

  <mat-icon style="cursor: pointer;font-size: medium;" (click)="inc_limit()">add_circle</mat-icon>

  &nbsp;


  <mat-checkbox id="chkAdvanced" (change)="switch_motor()" labelPosition="Before">
    Recherche Avancée
  </mat-checkbox>
  &nbsp;
  <mat-checkbox id="chkPro" [(ngModel)]="filter_with_pro" (change)="with_pro($event)" labelPosition="Before">
    Profils Pro
  </mat-checkbox>

</div>


<div class="div-center">
  <app-hourglass [message]="message"></app-hourglass>
</div>

<span *ngIf="profils?.length==0 && message.length==0 && (query.value?.length>0 || this.advanced_search.length>0)">
  Aucun profil ne correspond à cette recherche
</span>



<!-- Affichage des profils-->
<div class="wrap-list" *ngIf="message.length==0 && config.ready">
<!--  <cdk-virtual-scroll-viewport [itemSize]="50">-->
    <app-profil
      name="profils"
      *ngFor="let profil of profils"
      (delete)="deleteProfil(profil)"
      [backgroundColor]="profil.backgroundColor"
      [writeAccess]="config.user && config.user.profil==profil?.id || config.hasPerm('edit_profil')"
      (askfriend)="askfriend(profil)"
      (onclick)="openQuery($event)"
      class="app-card" [profil]="profil">

    </app-profil>
<!--  </cdk-virtual-scroll-viewport>-->
</div>



