<div style="margin:1%;text-align: center;min-width: 300px;">

  <app-tuto icon_button="login"
            [if]="!config.user?.user.email"
            (click)="router.navigate(['login'])"
            label="Connectez vous pour avoir accès à plus d'information sur les profils">
  </app-tuto>

  <app-tuto [if]="query.value.indexOf('*')>-1"
            label="Le symbole * permet de faire une recherche sur le début d'un nom, par exemple DUP* retourne tous les noms commençant par DUP">
  </app-tuto>

  <app-tuto [delay]="10"
            id="tutoSideMenu"
            label="Vous pouvez également consulter la liste des réalisations de la FEMIS, via le menu latéral"></app-tuto>


  <div *ngIf="profils.length==0 && query.value.length<3" style="text-align: center;display:inline-block;min-width:300px;width:70%;margin-top: 10%;margin-bottom: 5%;font-size: large;">
    Rechercher des anciens élève de la FEMIS
  </div>

  <div id="legende" style="width:100%;text-align: center;">
    <table style="display: inline-block;width:fit-content;">
      <tr>
        <td class="material-icon fi-color"><mat-icon>circle</mat-icon></td>
        <td>Formation intiale</td>
        <td style="width:10%"></td>
        <td class="material-icon fc-color"><mat-icon>circle</mat-icon></td>
        <td>Formation intiale</td>
      </tr>
    </table>

  </div>
  <br>

  <mat-form-field *ngIf="advanced_search?.length==0" appearance="standard" class="search_zone" autofocus>
    <mat-icon matPrefix style="margin-right: 10px;">person_search</mat-icon>
    <input matInput matNativeControl id="txtSearch"
           title="Un ou plusieurs mots pour effectuer des recherches dans les métiers, les noms, les réalisations ..."
           (keyup)="onQuery($event)"
           placeholder="Rechercher par nom, métier, promotion, titre de film ou récompense"
           [(ngModel)]="query.value">
    <div matSuffix style="font-size: medium;display: inline-block;">
      <mat-icon *ngIf="query.value?.length>0"
                matSuffix
                id="cmdCancel"
                (click)="clearQuery()">cancel</mat-icon>
    </div>
  </mat-form-field>


  <mat-icon *ngIf="query.value?.length==0"
            id="cmdHelp"
            (click)="help()">help</mat-icon>
  <mat-icon *ngIf="advanced_search?.length==0"
            id="cmdExpertMode"
            (click)="switch_motor()">add_circle</mat-icon>

  <div *ngIf="advanced_search?.length>0" style="display: inline-block">
    <div *ngFor="let i of advanced_search" style="display: inline-block">

      <mat-form-field [ngStyle]="{width:i.width}" style="margin: 3px;">
        <mat-label>{{i.label}}</mat-label>
        <input matInput matNativeControl
               *ngIf="i.type=='text'"
               [title]="i.title"
               [id]="i.id"
               (keyup)="onQuery($event)"
               placeholder=""
               [(ngModel)]="i.value">

        <mat-select *ngIf="i.type=='list'" [(ngModel)]="i.value" (selectionChange)="refresh()">
          <mat-option *ngFor="let opt of i.options" [value]="opt">{{opt}}</mat-option>
        </mat-select>

      </mat-form-field>

    </div>

  </div>



  <div *ngIf="profils?.length>3 && advanced_search?.length>0"
       style="display: inline-block;text-align: right;margin:5px;" autofocus>

    <mat-form-field appearance="legacy"
                    *ngIf="config.width_screen>400"
                    style="max-width:150px;font-size: small;">
      <mat-label>Trier par</mat-label>
      <mat-select id="selOrder" [(ngModel)]="order" (selectionChange)="refresh()">
        <mat-option *ngFor="let f of fields" [value]="f.value">{{f.field}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-icon style="font-size: large;cursor: pointer;"
              (click)="change_order()" *ngIf="config.width_screen<=400">
      sort
    </mat-icon>

  </div>
   <mat-icon *ngIf="advanced_search?.length>0"
      matSuffix style="cursor: pointer;color:lightgray;margin-left:3px;"
      id="cmdSimpleMode"
      (click)="switch_motor()">remove_circle</mat-icon>

  <br>

  <div *ngIf="profils.length==0 && query.value.length<3" style="width: 100%;text-align: center;margin-top: 5%;" >
    <mat-slide-toggle color="primary">Inclure la formation professionnelle</mat-slide-toggle>
  </div>



  <!--Toolbar de recherche avancée -->
  <div style="font-size: small" *ngIf="profils?.length>3 && advanced_search?.length>0" >
    <div *ngIf="profils.length>8" style="display: inline-block;margin:5px;" title="Recherche avancée: notamment des recherches sur une partie du nom, du prenom en utilisant des *">
      <span *ngIf="profils.length==this.limit">+ de </span>
      {{profils.length}} profils
      <mat-icon style="cursor: pointer;font-size: medium;" (click)="inc_limit()">
        add_circle
      </mat-icon>
    </div>
    &nbsp;

  </div>

</div>


<div class="div-center">
  <app-hourglass [message]="message"></app-hourglass>
</div>

<span *ngIf="profils?.length==0 && message.length==0 && (query.value?.length>0 || this.advanced_search?.length>0)">
  Aucun profil ne correspond à cette recherche
</span>



<!-- Affichage des profils-->
<div class="wrap-list" *ngIf="message.length==0 && config.ready && query.value.length>0 && profils.length>0">
  <!--  <cdk-virtual-scroll-viewport [itemSize]="50">-->
  <app-profil
    name="profils" class="app-card"
    *ngFor="let profil of profils"
    (delete)="deleteProfil(profil)"
    [backgroundColor]="profil.backgroundColor"
    [writeAccess]="config.user && config.user.profil==profil?.id || config.hasPerm('edit_profil')"
    (askfriend)="askfriend(profil)"
    (onclick)="openQuery($event)"
    style="margin: 20px;"
    [profil]="profil">
  </app-profil>
  <!--  </cdk-virtual-scroll-viewport>-->
</div>



