Django==4.0.6
markdown
django-oauth-toolkit
oauthlib
requests
selenium
djangorestframework
django-cors-headers
psycopg2
elasticsearch_dsl
django-sslserver
django-elasticsearch-dsl
django-elasticsearch-dsl-drf
python-linkedin-v2
graphene-django
PyYAML
django-filter
PyPDF2
wikipedia
rsa
html5lib
wheel
imdbpy
djangorestframework-csv
djangorestframework-xml
dict2xml
django-dbbackup
django-filter
numpy
pandas
xlsxwriter
docutils
networkx
py7zr
multiversx-sdk-core
multiversx-sdk-wallet
multiversx-sdk-network-providers
pandasql
plotly
jellyfish
PyGithub
openpyxl
django-archive
scipy
