Django~=3.2
markdown
django-oauth-toolkit
oauthlib
requests~=2.25.1
selenium~=3.141.0
djangorestframework~=3.12.4
pandas~=1.2.4
elasticsearch_dsl
graphene-django
django-cors-headers
psycopg2
django-sslserver
django-elasticsearch-dsl
django-elasticsearch-dsl-drf
PyYAML
django-filter
PyPDF2
wikipedia
rsa
html5lib
wheel
imdbpy
djangorestframework-csv
djangorestframework-xml
dict2xml
django-dbbackup
py7zr
networkx