<div class="mainform" style="text-align: left !important;margin:10px;">
<p>
  Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par
  [identité et coordonnées du responsable de traitement] pour
  <ul>
  <li>finalité du traitement 1</li>
  <li>finalité du traitement 2</li>
  <li>finalité du traitement 3</li>
  <li>finalité du traitement 4</li>
</ul>

  <p>
  La base légale du traitement est [base légale du traitement].

  Les données collectées seront communiquées aux seuls destinataires suivants :
  [destinataires des données].
</p>

  <p>

  Les données sont conservées pendant [durée de conservation des données prévue par le responsable du traitement ou critères permettant de la déterminer].
  </p>

  <p>
  Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données. (en fonction de la base légale du traitement, mentionner également : Vous pouvez retirer à tout moment votre consentement au traitement de vos données ; Vous pouvez également vous opposer au traitement de vos données ; Vous pouvez également exercer votre droit à la portabilité de vos données)

  Consultez le site cnil.fr pour plus d’informations sur vos droits.
  </p>


  <p>
  Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif,
    vous pouvez contacter (le cas échéant, notre délégué à la protection des données ou le service chargé de l’exercice de ces droits) : [adresse électronique, postale, coordonnées téléphoniques, etc.]

  Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés »
    ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.

  N.B : distinguer dans le formulaire de collecte, par exemple via des astérisques,
    les données dont la fourniture est obligatoire de celles dont la fourniture est facultative et précisez les conséquences éventuelles en cas de non-fourniture des données.
  </p>
</div>
