<div class="mainform">
  <app-tuto
    label="Après validation de l'article (bouton Publiez), celui-ci est relu par le responsable editorial de la plateforme qui le publie ou vous envoi un message pour correction">
  </app-tuto>
  <app-hourglass [message]="message"></app-hourglass>
  <br>

  <mat-form-field appearance="fill"
                  style="max-width:600px;width:60%;font-size: large;display: inline-block;margin:5px;text-align: center;" autofocus>
    <mat-label>Titre</mat-label>
    <input matInput matNativeControl
           id="txtTitle" required
           title="Titre de votre article"
           [(ngModel)]="title">

    <div matSuffix style="font-size: medium;display: inline-block;">
      <mat-icon *ngIf="title?.length>0"
                matSuffix style="cursor: pointer;color:lightgray;"
                id="cmdCancel"
                (click)="clearTitle()">cancel
      </mat-icon>
    </div>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill"
                  style="max-width:600px;width:60%;display: inline-block;margin:5px;text-align: center;">
    <mat-label>Résumé</mat-label>
    <textarea matInput [rows]="3"
              type="text" required
              [maxlength]="250" [(ngModel)]="resumer" cdkFocusInitial></textarea>

  </mat-form-field>
  <br>



  <div class="mat-elevation-z12" style="min-height: 300px;color: black;display: inline-block;width:95%;background-color: lightgrey;">
    <quill-editor id="htmlEditorZone"
                  *ngIf="!onlyPreview"
                  [(ngModel)]="editorContent">
    </quill-editor>

    <div *ngIf="onlyPreview"
         [innerHTML]="editorContent"
         style="width: 100%;height: 100%;padding:10px;"></div>
  </div>
  <br><br>

  <mat-form-field class="app-field" id="tagEditor">
    <mat-label>Thèmes de votre article</mat-label>
    <mat-chip-list #chipList aria-label="Selection des tags">
      <mat-chip
        *ngFor="let tag of tags"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        #fruitInput
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>Vos lecteur peuvent filtrer les articles par thématique</mat-hint>
  </mat-form-field>


  <br>
  <app-tuto label="Les tags vont permettre de filtrer les articles par thème"></app-tuto>
  <app-tuto [if]="title?.length==0 && resumer?.length==0 && editorContent?.length>0" label="Attention, le titre et le résumé sont obligatoires, ils ne doivent pas être inclus dans le corps de l'article"></app-tuto>


</div>

<div class="bottom-bar">


  <input #csvInput hidden="true"
         type="file" onclick="this.value=null"
         (change)="_import($event)"
         accept=".html,.htm"/>

  <button class="app-button" mat-button mat-raised-button
          id="cmdImport"
          title="Importer"
          (click)="csvInput.click()">
    Importer
  </button>

  <button class="app-button" mat-button mat-raised-button
          id="cmdImportImage"
          title="Importer"
          (click)="import_image()">
    Images
  </button>


  <button class="icon-button" mat-button mat-raised-button
          id="cmdReset"
          title="Effacer l'article en cours"
          (click)="clear_article()">
    <mat-icon>delete</mat-icon>
  </button>

  <button class="icon-button" mat-button mat-raised-button
          id="cmdSave"
          [disabled]="!editorContent || editorContent.length==0 || title?.length==0 || resumer?.length==0"
          title="Enregistrer un brouillon"
          (click)="save()">
    <mat-icon>save</mat-icon>&nbsp
  </button>

  <button class="app-button" mat-button mat-raised-button
          [disabled]="!editorContent || editorContent.length==0 || title?.length==0  || resumer?.length==0"
          id="cmdClear"
          color="primary"
          (click)="publish()">
    <mat-icon>send</mat-icon>&nbsp;
    <div class="bloc-bouton">Envoyer pour<br>publication</div>
  </button>
</div>

