.login-button
  margin: 20px !important
  padding: 6px
  font-size: large
  width: 200px
  height: 50px


input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0



input[type=number]
  -moz-appearance: textfield
