div
  color: white


mat-card
  background-color: transparent

.flip-card
  margin: 10px
  max-width: 400px
  width: 100%
  text-align: left
  position: relative
  display: inline-block
  height: 150px
  background-color: transparent
  perspective: 1000px


.tag
  position: relative
  line-height: 90%
  padding: 15px
  margin: 5px
  font-size: large
  font-weight: lighter
  text-align: left
  display: inline-block
  height: 100%
  width: 100%



.flip-card-inner
  position: relative
  color: white !important
  width: 100%
  height: 100%
  transition: transform 0.6s
  transform-style: preserve-3d

.flip-card-inner-rotate
  position: relative
  color: white !important
  width: 100%
  height: 100%
  text-align: center
  transition: transform 0.6s
  transform-style: preserve-3d
  transform: rotateY(180deg)

//.flip-card:hover .flip-card-inner
//  transform: rotateY(180deg)


.flip-card-front, .flip-card-back
  position: absolute
  width: 100%
  height: 100%
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  overflow: hidden
  transform: rotateX(0deg)

//https://stackoverflow.com/questions/9604982/backface-visibility-not-working-properly-in-firefox-works-in-safari

.flip-card-front
  color: black


.flip-card-back
  color: white
  position: relative
  width: 100%
  height: 100%
  transform: rotateY(180deg)
  background-color: #555555



.avatar-photo
  position: absolute
  display: block
  left: -100px
  top: -100px
  width: 430px
  height: 430px
  opacity: 0.6




.avatar-name
  position: absolute
  display: block
  z-index: 100
  width: 90%
  top: 60%
  text-align: right

