
<div class="flip-card">
  <div class="flip-card-inner mat-elevation-z8" [ngStyle]="{backgroundColor:backgroundColor}" >
    <div class="flip-card-front">
      <table style="width:94%;margin:3%;margin-bottom: 0px;color: white;"><tr>
        <td style="text-align: left;" *ngIf="config.hasPerm('r_department')">

        </td>

        <td style="text-align: right">
          {{profil.department}}<br>
          <div *ngIf="config.hasPerm('r_promo')">
            <span *ngIf="profil?.cursus=='P'" name="lblCursus">Cursus Pro - </span>
            <span style='cursor: pointer'
                  name="lblPromo"
                  title="Rechercher par promotion"
                  (click)="onclick.emit(profil?.degree_year)">
        {{profil?.degree_year}}
      </span>
          </div>

        </td>
      </tr>
      </table>

      <div>
        <div *ngIf="!config.hasPerm('r_photo')"><br></div>
        <div *ngIf="config.hasPerm('r_photo') && profil?.photo.indexOf('anonymous')==-1">
          <img [src]="profil?.photo" style="pointer-events: none;"
               class="icon-profil avatar-photo">
        </div>

      </div>

      <div class="avatar-name">
        <span *ngIf="config.hasPerm('r_firstname')">{{profil?.firstname}}</span>
        <span *ngIf="config.hasPerm('r_lastname')"> {{profil?.lastname}}</span>
      </div>


      <div name="cardContent" style="pointer-events: none;display:inline-block;position:absolute;left:0;top:0;height:100%;width:100%;z-index:100;">
        <ng-content></ng-content>
        <app-hourglass [message]="profil?.message"></app-hourglass>
      </div>


    </div>

    <div class="flip-card-back" name="cardAction">
      <div *ngIf="showAction">
        <br>
        <button mat-button mat-icon-button
                name="cmdContact"
                class="small-icon-button"
                *ngIf="config.user?.user?.email!=profil?.email && config.hasPerm('write_email')"
                (click)="write(profil)"
                title="Lui envoyer un message">
          <mat-icon>email</mat-icon>
        </button>
        &nbsp;
        <button mat-button mat-icon-button
                title="Réalisations / Films / Livres"
                name="cmdOpenWork"
                class="small-icon-button"
                *ngIf="profil?.works?.length>0 && config.hasPerm('r_works')"
                (click)="openWork(profil)">
          <mat-icon>videocam</mat-icon>
        </button>

        <button mat-button mat-icon-button
                title="Partager / Envoyer ce profil"
                name="cmdShareProfil"
                class="small-icon-button"
                *ngIf="profil?.public_url?.length>0 && config.hasPerm('share')"
                (click)="share(profil)">
          <mat-icon>share</mat-icon>
        </button>

        <button mat-button mat-icon-button
                class="small-icon-button"
                title="Consulter son site web"
                name="cmdWebsite"
                *ngIf="profil?.website?.length>0"
                (click)="openWebSite(profil?.website)">
          <mat-icon>public</mat-icon>
        </button>

        <button mat-button mat-icon-button
                class="small-icon-button"
                title="Supprimer le profil"
                name="cmdDelProfil"
                *ngIf="config.hasPerm('delete_profil')"
                (click)="deleteProfil(profil)">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-button mat-icon-button
                class="small-icon-button"
                title="Générer un NFT"
                name="cmdCreateNFT"
                *ngIf="config.hasPerm('nft_write') && profil.blockchain?.length==0"
                (click)="writeNFT(profil)">
          <mat-icon>enhanced_encryption</mat-icon>
        </button>

        <button mat-button mat-icon-button
                class="small-icon-button"
                title="Demander en tuteur"
                name="cmdAskTutor"
                *ngIf="config.hasPerm('ask_tutor') && profil.acceptSponsor && config.user.profil"
                (click)="ask_tutor(profil)">
          <mat-icon>school</mat-icon>
        </button>

        <button mat-button mat-icon-button
                title="Editer mon profil"
                class="small-icon-button"
                name="cmdEditProfil"
                *ngIf="writeAccess"
                (click)="editProfil(profil)">
          <mat-icon>create</mat-icon>
        </button>

        <!--
            TODO: a rétablir pour les communications
            <button mat-button mat-icon-button
                    title="Demander en ami"
                    *ngIf="config.user?.user?.email!=profil?.email && config.hasPerm('ask_friend')"
                    (click)="askFriend(profil)">
              <mat-icon>group_add</mat-icon>
            </button>

            -->

        <button mat-button mat-icon-button
                title="Voir sa page linkedin"
                class="small-icon-button"
                *ngIf="profil?.linkedin?.length>0 && config.hasPerm('r_linkedin')"
                (click)="openWebSite(profil?.linkedin)">
          <img  src="/assets/icons/LinkedIn.png"
                class="small-icon-button"
                style="background-color: white;">
        </button>

        <div *ngIf="profil?.links?.length>0">
          <br><br>
        <small>Références</small><br>
        <a *ngFor="let link of profil?.links" [href]="link.url" target="_blank" style="margin: 5px">{{link.text}}</a>

        </div>



      </div>
    </div>
  </div>
</div>

