<app-tuto   title="<br><br><br><br><br><strong>Data Culture Pro</strong>"
            color="white"
            image="./assets/icons/icon-96x96.png"
            subtitle="<strong>L'annuaire des anciens de la FEMIS</strong>"
            background="./assets/img/intro1.jpg">
</app-tuto>


<div class="bodybg">
  <mat-toolbar class="toolbar-app" (mousedown)="closeMenu()">
    <div style="text-align: right;" *ngIf="sidemenu_mode=='side'">
      <mat-icon style="cursor: pointer;margin: 10px;color:white;" (click)="drawer.toggle()">
        menu_open
      </mat-icon>
    </div>
    <mat-icon
            id="cmdMenu" *ngIf="sidemenu_mode=='over'"
            (click)="drawer.toggle()"
            style="cursor: pointer;margin: 10px;color:white;">
      menu
    </mat-icon>

    <img src="./assets/icons/icon-72x72.png" style="width: 25px;margin: 10px;">

    <span class="appli-title">
    {{config.values?.appname}}
      <div style="font-size: x-small;display: inline;margin: 5px;" routerLink="about" *ngIf="!simple_screen">&nbsp;v{{appVersion}}</div>
  </span>

    <span class="fill-remaining-space"></span>

    <a href="https://www.femis.fr/" target="_blank" *ngIf="!simple_screen">
      <img src="./assets/logo_femis_menu@2x.png" style="width: 80px;margin-right: 15px;">
    </a>

    <mat-icon style="font-size: x-large;cursor: pointer;"
              title="Revenir à l'écran précédent"
              id="cmdBack"
              (click)="_location.back()">navigate_before</mat-icon>
  </mat-toolbar>

  <mat-drawer-container class="container">
    <mat-drawer #drawer class="sidenav" [mode]="sidemenu_mode">
      <app-loginbar (click)="closeMenu()" (logout)="logout()">
      </app-loginbar>
    </mat-drawer>

    <mat-drawer-content style="overflow: scroll">
      <div class="sidenav-content"
           (mousedown)="closeMenu()">
        <router-outlet style="width:100%;" *ngIf="message.length==0" ></router-outlet>
      </div>
    </mat-drawer-content>

  </mat-drawer-container>
</div>