/* You can add global styles to this file, and also import other style files */
@import '~ngx-sharebuttons/themes/circles'
@import '~angular-mgl-timeline/theme'

$darkgray: #303030
$darkdarkgray: #1c1a1a
$grayinput: #303030
$mediumgray: #747474
$button-color: #3a293c
$primary-color: #ff059b
$secondary-color: #c1c1c1


.app-button
  margin: 4px !important
  min-width: 100px !important
  background-color: $button-color

h2
  color: white

.app-card
  max-width: 500px
  min-width: 300px
  margin-left: 0px
  margin-right: 10px
  display: inline-block

.div-center
  width: 100%
  text-align: center

.icon-button
  width: 22px
  font-size: 1em
  height: 22px
  margin: 3px !important
  display: inline-block
  cursor: pointer
  background-color: $button-color

.small-icon-button
  margin: 0px !important
  padding: 0px
  display: inline-block
  cursor: pointer


.large-card
  min-width: 500px
  margin: 10px

.icon-profil
  width: 60px
  clip-path: circle()

.wrap-list
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: flex-start


html, body, app-root
  margin: 0 !important
  padding: 0 !important
  color: white
  background-color: $mediumgray !important
  font-family: Roboto, "Helvetica Neue", sans-serif
  font-weight: lighter

::-webkit-scrollbar
    width: 0px
    background: transparent

::-webkit-scrollbar-thumb
    background: transparent


.toolbar-app
  height: 38px
  background-color: black
  position: fixed
  top: 0px
  left: 0px
  z-index: 10


.sidemenu
  background-color: $darkdarkgray
  padding: 10px !important
  height: 110vh
  z-index: 1
  display: inline-block
  overflow: scroll
  font-size: small


.sidenav-content
  width: 100%
  height: 100vh
  overflow: scroll
  justify-content: center
  text-align: center
  padding: 0
  margin: 0
  background-color: $mediumgray


.container
  width: 100vw
  min-height: 100vh
  position: fixed
  left: 0px
  top: 38px
  overflow: scroll
  background: transparent
  padding: 0
  margin: 0

.sidenav
  background-color: $darkgray
  padding: 0px



.mainform
  width: 100%
  text-align: center !important
  margin-top: 5px


.app-field
  width: 95%
  max-width: 500px
  margin: 3px
  height: min-content

h3
  width: 100%
  text-align: center
  font-size: x-large
  margin: 3%

.bottom-bar
  width: 100%
  z-index: 100
  background-color: $mediumgray
  padding-top: 5px
  padding-right: 5px
  text-align: right
  position: fixed
  display: block
  bottom: 0px
  right: 0px
  height: 50px


.h-zone
  margin: 5px
  font-size: x-large
  font-weight: lighter
  font-variant-caps: all-small-caps
  width: 100%
  text-align: center
  margin-bottom: 10px

.fill-remaining-space
  flex: 1 1 auto

.app-panel
  width: 100% !important


.faq-content
  padding-left: 5px
  font-size: small
  text-align: left



.bloc-bouton
  margin: 0px
  padding: 0px
  text-align: center
  display: inline-block
  font-size: small
  font-weight: 400
  line-height: 96%


mat-dialog-title
  font-style: normal
  font-weight: lighter
  font-size: medium

.app-mat-panel-title
  text-align: left
  font-weight: bold



.app-card-panel
  max-width: 500px
  width: 90%
  margin: 7px !important
  font-size: small
  display: inline-block



a
  color: lightblue
  text-decoration: none

mat-card-title
  font-size: large




mat-panel-title
  color: $secondary-color !important
  font-weight: normal
  font-size: small


.app-mat-panel-description
  font-weight: lighter
  color: darkgray
  text-align: left
  font-size: small
  vertical-align: center


mat-expansion-panel
  max-width: 600px

mat-expansion-panel-header
  height: 45px !important
  padding-left: 10px !important
  font-weight: lighter !important

mat-expansion-panel-content
  padding: 2px !important
  margin: 0px !important


mat-action-row
  padding: 5px !important


.removeBackground
  filter: blur(15px)
  cursor: pointer !important
  background-color: black
  opacity: 0.7 !important
  pointer-events: none !important

.app-link
  color: darkblue
  font-style: normal
