<div class="mainform" style="text-align: center !important;width: 100%;">
  <h3>{{profil?.firstname}} {{profil?.lastname?.toUpperCase()}}</h3>

  <app-hourglass [message]="message"></app-hourglass>
  <br>

  <div *ngIf="showAddWork==0 && profil" style="display: inline-block;max-width: 950px;width: 95%">
    <mat-accordion style="width:100%;">
      <!--      Civilité -->
      <mat-expansion-panel  id="pnlAdmin">
        <mat-expansion-panel-header>
          <mat-panel-title>Civilité</mat-panel-title>
        </mat-expansion-panel-header>

        <img [src]="profil.photo"
             mat-card-avatar
             class="image-photo"
             style="max-width:150px;"
             (click)="change_photo()"><br>

        <mat-checkbox
                (change)="save_profil(null,$event,'public_photo')"
                title="Cliquez sur cette photo pour la mettre a jour"
                [(ngModel)]="profil.public_photo">
          Photo visible sur ma page publique
        </mat-checkbox><br><br>

        <mat-form-field appearance="fill" class="app-field" style="width:30%;margin-right:3%;">
          <mat-label>Prénom</mat-label>
          <input matInput type="text" max="50" [(ngModel)]="profil.firstname">
        </mat-form-field>

        <mat-form-field appearance="fill" class="app-field" style="width:40%;">
          <mat-label>Nom</mat-label>
          <input matInput type="text" max="50" [(ngModel)]="profil.lastname">
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill" class="app-field">
          <mat-label>Mobile</mat-label>
          <input matInput type="text" max="50" [(ngModel)]="profil.mobile">
        </mat-form-field>

        <br>
        <mat-form-field appearance="fill" class="app-field">
          <mat-label>Email</mat-label>
          <input matInput type="email" max="50" [(ngModel)]="profil.email">
        </mat-form-field>

        <br>
        <br>

        <mat-form-field appearance="fill" class="app-field">
          <mat-label>Adresse</mat-label>
          <input matInput type="text"  [(ngModel)]="profil.address">
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" class="app-field" style="width:20%;margin-right: 2%;">
          <mat-label>Code postal</mat-label>
          <input matInput type="text" max="5" [(ngModel)]="profil.cp">
        </mat-form-field>
        &nbsp;
        <mat-form-field appearance="fill" class="app-field" style="width: 65%">
          <mat-label>Ville</mat-label>
          <input matInput type="text" [(ngModel)]="profil.town">
        </mat-form-field>


        <mat-action-row>
          <button color="primary" class="icon-button" mat-button mat-icon-button mat-raised-button (click)="quit()">
            <mat-icon>save</mat-icon>
          </button>
        </mat-action-row>

      </mat-expansion-panel>

      <!--      Réseau sociaux -->
      <mat-expansion-panel  style="text-align: left;" id="pnlSocial">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Réseaux sociaux
          </mat-panel-title>
        </mat-expansion-panel-header>
        Vos adresses sur les réseaux sociaux<br>
        <table style="width: 100%;vertical-align: text-top;">
          <tr *ngFor="let social of socials">
            <td style="width:90%">
              <mat-form-field appearance="fill" class="app-field" style="width: 100%;">
                <mat-label>{{social.name}}</mat-label>
                <input matInput
                       type="text"
                       [placeholder]="social.input"
                       max="50"
                       [(ngModel)]="profil[social.name]"
                       (focusout)="check_format(social)"
                       (keypress)="mustSave=true">
              </mat-form-field><br>
            </td>
            <td style="font-size: small;vertical-align: text-top;text-align: center;line-height: 90%;">
              <br>
              {{social.message}}
            </td>
          </tr>
        </table>


        <mat-action-row>
          <button color="primary" class="icon-button"
                  [disabled]="!mustSave"
                  mat-button mat-icon-button mat-raised-button (click)="quit()">
            <mat-icon>save</mat-icon>
          </button>
        </mat-action-row>

      </mat-expansion-panel>


      <!--      Mentorat-->
      <mat-expansion-panel  style="text-align: left;" id="pnlTutorat" *ngIf="config.hasPerm('tutorat')">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tutorat
          </mat-panel-title>

        </mat-expansion-panel-header>

        <table *ngIf="profil.sponsorBy"><tr style="width: 100%;">
          <td style="width: 100%;">Mon Tuteur:<br>
            <strong><small>{{profil.sponsorBy.fullname}}</small></strong>
          </td>
          <td style="width: 30px;text-align: right;">
            <button class="icon-button" mat-icon-button
                    mat-raised-button
                    title="Voir le profil de son tuteur"
                    (click)="open_profil(profil.sponsorBy)">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
          <td style="width: 30px;text-align: right;">
            <button class="icon-button" mat-icon-button
                    mat-raised-button
                    title="Contacter votre tuteur"
                    (click)="contact_profil(profil.sponsorBy)">
              <mat-icon>email</mat-icon>
            </button>
          </td>
          <td style="width: 30px;text-align: right;">
            <button class="icon-button" mat-icon-button
                    mat-raised-button
                    title="Ne plus avoir comme tuteur"
                    (click)="remove_tuteur()">
              <mat-icon>cancel</mat-icon>
            </button>
          </td>
        </tr></table>

        <br>

        <mat-checkbox
                (change)="save_profil(null,$event,'acceptSponsor');"
                [checked]="profil.acceptSponsor">
          Accepte d'être tuteur
        </mat-checkbox>
        &nbsp;
        <button class="app-button" mat-button
                *ngIf="students.length>0"
                mat-raised-button
                title="Ecrire à tous"
                (click)="write_all()">
          Ecrire à tous
        </button>

        <div *ngIf="students.length>0" style="margin-top: 10px;">
          <strong>Mes tutorés</strong>
          <table>
            <tr *ngFor="let st of students" style="width: 100%;">
              <td style="width: 100%;">
                {{st.lastname}}
              </td>
              <td style="width: 30px;text-align: right;">
                <button class="icon-button" mat-icon-button
                        mat-raised-button
                        title="Voir le profil"
                        (click)="open_profil(st)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </td>
              <td style="width: 30px;text-align: right;">
                <button class="icon-button" mat-icon-button
                        mat-raised-button
                        title="Le/la contacter"
                        (click)="contact_profil(st.id)">
                  <mat-icon>email</mat-icon>
                </button>
              </td>
              <td style="width: 30px;text-align: right;">
                <button class="icon-button" mat-icon-button
                        mat-raised-button
                        title="Ne plus avoir comme tuteur"
                        (click)="remove_student(st.id)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </td>
            </tr></table>
        </div>
      </mat-expansion-panel>

      <!--      Job-->
      <mat-expansion-panel  style="text-align: left;" id="pnlJob" *ngIf="config.hasPerm('job_search')">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Offres d'emplois
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field appearance="legacy" class="app-field" style="width: 70%;max-width: 250px;font-size: small;">
          <mat-label>Critères de recherche</mat-label>
          <input matInput type="text" max="50" [(ngModel)]="query">
        </mat-form-field>

        <!--        <button class="icon-button" mat-icon-button-->
        <!--                mat-raised-button-->
        <!--                title="Ouvrir tous les sites simultanément"-->
        <!--                (click)="open_all_site('search')">-->
        <!--          <mat-icon>search</mat-icon>-->
        <!--        </button>-->
        <br>


        <table style="width:100%;">
          <tr style="width:100%;font-size: small;padding-bottom: 3px;" *ngFor="let site of jobsites">
            <td style="width: fit-content;">
              <strong>{{site.name}}</strong><br>
              <div style="line-height: 90%;font-size: small;">{{site.description}}</div>
            </td>
            <td style="width:110px;text-align: right;">
              <mat-icon (click)="opensite(site,'search')">search</mat-icon>
              <mat-icon title="Se connecter" (click)="opensite(site,'login')">person</mat-icon>
            </td>
          </tr>
        </table>
      </mat-expansion-panel>


      <!--      Présence sur Internet -->
      <mat-expansion-panel [expanded]="expanded_internet_pnl" id="pnlInternet">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Présence internet
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mat-body-1 label">Voir et optimiser sa présence sur Internet</div>
        <table style="width:100%;">
          <tr *ngFor="let ref of profil.links" style="text-align: left;">
            <td>{{ref.text}}</td>
            <td style="width:50px;text-align: right;">
              <mat-icon style="font-size: medium;cursor: pointer;" (click)="open_page(ref.url,'ref')">search</mat-icon>
              <mat-icon style="font-size: medium;cursor: pointer;" (click)="open_faqs(ref.text)" [title]="'Optimiser sa présence sur '+ref.text">help</mat-icon>
            </td>
          </tr>
        </table>
      </mat-expansion-panel>

      <!--      Expérience -->
      <mat-expansion-panel  [expanded]="expanded_experience_pnl" id="pnlExperience">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Expériences
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table style="width: 100%;font-size: small;">
          <div *ngIf="works.length==0 && message.length==0">
            Aucune expérience identifiée.
          </div>

          <tr *ngFor="let work of works" style="width:100%;text-align: left;">
            <td>-</td>
            <td style="line-height: 100%;width: fit-content;">
              {{work.year}} :
              {{work.job}} sur
              <a [title]="work.source" (click)="open_movie(work.title)">{{work.title}}</a>
              <br>
              <div *ngIf="work.dtEnd">
                en {{work.dtEnd | date:'yyyy'}}
                <br>
              </div>

            </td>
            <td style="text-align: right;width:70px;" name="experience_panel">

              <mat-icon
                        name="cmdEdit"
                        (click)="edit_work(work)">
                edit
              </mat-icon>

              <mat-icon *ngIf="work.public"
                        name="cmdVisibilityOn"
                        title="Cette expérience est visible de tous (public)"
                        style="cursor: pointer;font-size: medium;display: inline;width:20px;" (click)="_private(work)">
                visibility
              </mat-icon>

              <mat-icon *ngIf="!work.public"
                        style="cursor: pointer;font-size: medium;width: 20px;"
                        name="cmdVisibilityOff"
                        title="Cette expérience est privée (seule vous pouvez la connaitre)"
                        (click)="_private(work)">
                visibility_off
              </mat-icon>

              <mat-icon style="cursor: pointer;font-size: medium;display: inline;"
                        name="cmdDeleteExperience"
                        title="Supprimer cette expérience"
                        (click)="del_work(work)">
                cancel
              </mat-icon>

            </td>

          </tr>
        </table>

        <mat-action-row>
          <button class="app-button" mat-button mat-raised-button
                  color="primary"
                  id="cmdAddExperience"
                  (click)="add_pow()">
            <div class="bloc-bouton">Ajouter une<br>expérience</div>
          </button>

        </mat-action-row>
      </mat-expansion-panel>



      <!-- Récompenses-->
      <mat-expansion-panel  [expanded]="false" id="pnlRecompenses">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Récompenses
          </mat-panel-title>
        </mat-expansion-panel-header>
        <br>
        <table style="width: 100%;font-size: small;">
          <tr *ngFor="let award of awards" style="width:100%;text-align: left;vertical-align: text-top;" [title]="'pour '+award.pow.title">
            <td>-</td>
            <td style="line-height: 100%;width: fit-content;">{{award?.year}}:</td>
            <td style="line-height: 100%;width: fit-content;">
              {{award?.description}}<br>
              <small style="color:lightgrey">{{award?.festival?.title}}</small>
            </td>
            <td style="text-align: right;width:70px;cursor: pointer;" name="experience_panel">
              <mat-icon style="display: inline;font-size: medium;"
                        name="cmdDeleteAward"
                        (click)="del_award(award)">
                delete
              </mat-icon>
              <mat-icon style="display: inline;font-size: medium;"
                        name="cmdOpenSourceAward"
                        (click)="open_source_award(award)">
                link
              </mat-icon>
              <mat-icon [title]="award.pow.title"
                        (click)="open_movie(award.pow.title)"
                        style="display: inline;font-size: medium;">
                local_movies
              </mat-icon>
            </td>
          </tr>
        </table>
        <mat-action-row>
          <button class="app-button" mat-button mat-raised-button
                  color="primary"
                  *ngIf="works.length>0"
                  id="cmdAddAward"
                  (click)="add_award()">
            <div class="bloc-bouton">Ajouter une<br>récompense</div>
          </button>

        </mat-action-row>

      </mat-expansion-panel>


      <!--      Relations -->
      <mat-expansion-panel  [expanded]="false" id="pnlRelations" *ngIf="relations?.length>0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Réseau pro
          </mat-panel-title>
        </mat-expansion-panel-header>
        Vous avez travaillé avec:<br>
        <div *ngFor="let relation of relations" style="cursor: pointer" (click)="open_profil(relation)">
          {{relation.firstname+" "+relation.lastname}}
        </div>
      </mat-expansion-panel>

    </mat-accordion>

    <br>
    <div *ngIf="works.length>0" style="text-align: center;width: 100%;">
      <br>
      <button class="app-button" mat-button mat-raised-button
              id="cmdPreview"
              title="Permet de voir la page publique qui liste vos expériences"
              *ngIf="works?.length>0"
              (click)="open_page(profil.public_url,'page_public')">
        <div class="bloc-bouton">Voir la page<br>publique</div>
      </button>
      <br>
      <br>
    </div>


    <button mat-icon-button mat-button
            mat-raised-button
            class="icon-button"
            id="cmdDeletePows"
            title="Efface les films"
            *ngIf="works?.length>0 && config.hasPerm('add_movies')"
            (click)="delete_pows()">
      <mat-icon>delete</mat-icon>
    </button>


    <button mat-icon-button
            mat-raised-button
            class="icon-button"
            mat-button
            id="cmdClear"
            title="Sont effacées uniquement les expériences issue des annuaires publiques"
            *ngIf="works?.length>0"
            (click)="reset_contrib_profil()">
      <mat-icon>loop</mat-icon>
    </button>

    <button mat-icon-button
            mat-raised-button
            class="icon-button"
            mat-button
            title="Déclenche une recherche de vos expériences sur les principaux portail cinématographique"
            id="cmdAnalyse"
            (click)="analyse()">
      <mat-icon>search</mat-icon>
    </button>


    <br><br>
    <p style="font-size: small">
      Dernière mise a jour le {{profil.dtLastUpdate | date:"dd/MM/yy"}}
    </p>
  </div>


  <!--  -->
  <!--  <div *ngIf="showAddWork==1" style="text-align: left;">-->
  <!--    <hr>-->
  <!--    <h3>Sélectionner le film à ajouter</h3>-->
  <!--    <div  style="width: 92%;margin-left: 4%;">-->
  <!--      <mat-form-field>-->
  <!--        <mat-label>Filter</mat-label>-->
  <!--        <input matInput (keyup)="applyFilter($event)" -->
  <!--               placeholder="titre" #input>-->
  <!--      </mat-form-field>-->

  <!--      <table mat-table-->
  <!--             [dataSource]="dataSource"-->
  <!--             class="mat-elevation-z2"-->
  <!--             style="width: 100%;text-align: left;">-->

  <!--        &lt;!&ndash; Position Column &ndash;&gt;-->
  <!--        <ng-container matColumnDef="title">-->
  <!--          <th mat-header-cell *matHeaderCellDef>Titre</th>-->
  <!--          <td mat-cell *matCellDef="let element"> {{element?.title}} </td>-->
  <!--        </ng-container>-->

  <!--        <ng-container matColumnDef="dtStart">-->
  <!--          <th mat-header-cell *matHeaderCellDef>Réalisé le</th>-->
  <!--          <td mat-cell *matCellDef="let element"> {{element?.dtStart | date:"YYYY"}} </td>-->
  <!--        </ng-container>-->

  <!--        <ng-container matColumnDef="sel">-->
  <!--          <th mat-header-cell *matHeaderCellDef>Sélectionner</th>-->
  <!--          <td mat-cell *matCellDef="let element">-->
  <!--            <button class="icon-button"-->
  <!--                    mat-button mat-raised-button mat-icon-button-->
  <!--                    (click)="select(element)">-->
  <!--              <mat-icon>checkmark</mat-icon>-->
  <!--            </button>-->
  <!--          </td>-->
  <!--        </ng-container>-->

  <!--        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
  <!--        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

  <!--        &lt;!&ndash; Row shown when there is no matching data. &ndash;&gt;-->
  <!--        <tr class="mat-row" *matNoDataRow>-->
  <!--          <td class="mat-cell" colspan="4">Aucune donnée ne répond au filtre "{{input.value}}"</td>-->
  <!--        </tr>-->
  <!--      </table>-->

  <!--      <br>-->
  <!--      <button class="app-button" mat-button mat-raised-button-->
  <!--              (click)="add_pow()">-->
  <!--        Nouveau film-->
  <!--      </button>-->
  <!--    </div>-->
  <!--  </div>-->

  <div *ngIf="showAddWork==2 || showAddWork==3" style="width:100%;text-align: center;">
    <h3>
      Précisez votre contribution sur "{{add_work.movie}}"
      <span *ngIf="add_work.year"> ({{add_work.year}})</span>
    </h3>
    <br>

    <mat-form-field class="app-field" style="font-size: large;">
      <mat-label>Poste occupé</mat-label>
      <mat-select  [(ngModel)]="job">
        <mat-option *ngFor="let job of config.jobs" [value]="job.value">{{job.label}}</mat-option>
      </mat-select>
      <mat-hint style="font-size: x-small;">Sélectionner le poste que vous aviez sur le projet</mat-hint>
    </mat-form-field>
    <br>

    <br>

    <!--    <mat-form-field appearance="fill" class="app-field" style="max-width: 200px">-->
    <!--      <mat-label>Du</mat-label>-->
    <!--      <input matInput [matDatepicker]="picker" [(ngModel)]="dtStart">-->
    <!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
    <!--      <mat-datepicker #picker></mat-datepicker>-->
    <!--      <mat-hint>Premier jour de travail</mat-hint>-->
    <!--    </mat-form-field>-->

    <!--    <mat-form-field appearance="fill" class="app-field" style="max-width: 200px">-->
    <!--      <mat-label>... Au</mat-label>-->
    <!--      <input matInput [matDatepicker]="picker2" [(ngModel)]="dtEnd">-->
    <!--      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
    <!--      <mat-datepicker #picker2></mat-datepicker>-->
    <!--      <mat-hint>Dernier jour de travail</mat-hint>-->
    <!--    </mat-form-field>-->


    <mat-form-field appearance="fill" class="app-field" style="max-width: 200px">
      <mat-label>Heures travaillées</mat-label>
      <input matInput type="number" value="8" [(value)]="duration">
      <span matSuffix>Hrs</span>
      <mat-hint>Nombre d'heures de travail réalisé sur le projet <mat-icon>help</mat-icon></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="app-field" style="max-width: 200px">
      <mat-label>Revenu total</mat-label>
      <input matInput type="number" value="" [(value)]="earning">
      <span matSuffix>€</span>
      <mat-hint>
        Revenu brut pour toute la durée
        <mat-icon title="Donnée anonymisée uniquement utilisée sous forme de moyenne pour les statistiques">help</mat-icon>
      </mat-hint>
    </mat-form-field>
    <br><br><br>


    <mat-form-field appearance="fill" class="app-field" style="width:100%;">
      <mat-label>Commentaires</mat-label>
      <input matInput max="200" type="text"
             value="Décrire l'expérience" [(ngModel)]="comment">
      <mat-hint>Détailler l'expérience, difficultés rencontrées, bénéfices</mat-hint>
    </mat-form-field>

    <br>

    <div style="display: inline-block;margin-top: 10px;">
      <app-scoring [(value)]="score_school">
        Votre formation à la FEMIS vous a-t'elle aidé pour cette expérience ?
      </app-scoring><br>

      <app-scoring [(value)]="score_salary">
        Votre rémunération etait elle au niveau de vos attentes ?
      </app-scoring><br>

      <app-scoring [(value)]="score_skill">
        Votre rémunération etait elle au niveau de vos attentes ?
      </app-scoring>

    </div>




    <hr>
    <br>

    <button class="app-button"
            mat-button mat-raised-button
            (click)="this.showAddWork=0">
      Anuler
    </button>

    <button class="app-button" color="primary"
            mat-button mat-raised-button
            id="cmdAddExperience"
            title="Ajouter ce projet à votre expérience"
            (click)="save_newwork()">
      <div class="bloc-bouton">Enregistrer cette<br>expérience</div>
    </button>

  </div>


</div>
