<div class="mainform" style="font-weight: lighter;">
  <div style="max-width: 500px;text-align: center;display: inline-block;">

    <br>
    <h2>Choisir un nouveau profil</h2>

    <app-tuto label="Les profils correspondent à des besoins particuliers, avoir le bon profil permet de simplifier l'usage de %APPNAME%"></app-tuto>

    <app-tuto label="%appname% propose différents profils d'utilisateur pour s'adapter a vos besoins et ne présentez que les informations dont vous avez réelement besoin"></app-tuto>

    <mat-accordion [multi]="false" >
      <div *ngFor="let profil of profils" style="text-align: left;">
        <mat-expansion-panel *ngIf="profil.subscription!='offline'" name="tabProfils" class="app-panel" style="margin:10px;;display: inline-block;">

          <mat-expansion-panel-header>
            <mat-panel-title class="app-mat-panel-title">{{profil.title}}</mat-panel-title>
          </mat-expansion-panel-header>

          <p>{{profil.presentation}}</p>

          <div style="font-size: small;text-align: left;color:lightgrey;">
            Ce profil vous donnes accès:
            <div [innerHTML]="show_perm(profil.id)"></div>
            <br>
          </div>

          <div *ngIf="profil.price>0">
            <br><br>
            Prix:{{profil.price}}€/mois
          </div>


          <mat-action-row>
            <button mat-button mat-raised-button
                    name="cmdAskProfil"
                    class="app-button"
                    (click)="sel_profil(profil)">

              <span *ngIf="profil.subscription=='online' || profil.subscription=='secure'">Souscrire</span>
              <span *ngIf="profil.subscription=='email'">Demander</span>

            </button>

          </mat-action-row>

        </mat-expansion-panel>
      </div>
    </mat-accordion>
    <br><br>
  </div>

</div>



