<mat-nav-list class="sidemenu">
  <br>
  <div *ngIf="!config.user?.user?.email || config.user?.user?.email?.length==0"
       style="width:100%;text-align:center;">
    Identifiez vous pour accèder<br>
    aux fonctionalités avancées
  </div>

  <div *ngIf="config.user?.user?.email.length>0" style="margin: 10px;">
    <div style="color:lightgray;font-size: x-small">Bonjour,</div>
    {{config.user?.user?.email}}
    <br><br>
  </div>
  <br>

  <hr>

  <a title="Consultation de l'annuaire"
     routerLink="search"
     mat-list-item
     id="cmdSearch">
    <mat-icon>search</mat-icon>
    &nbsp;&nbsp;Consulter l'annuaire
  </a>

  <a title="Voir les oeuvres de la FEMIS"
     routerLink="pows"
     mat-list-item
     id="cmdShowMovies">
    <mat-icon>event_seat</mat-icon>
    &nbsp;&nbsp;Consulter les films
  </a>

  <a title="Voir le blog"
     routerLink="blog"
     mat-list-item
     id="cmdBlog">
    <mat-icon>rss_feed</mat-icon>
    &nbsp;&nbsp;Le blog
  </a>

  <br>
  <a title="Editer votre profil"
     *ngIf="config.user?.profil"
     routerLink="edit"
     [queryParams]="{id:this.config.user?.profil}"
     mat-list-item
     id="cmdEditMyProfil">
    <mat-icon>build</mat-icon>
    &nbsp;&nbsp;Editer mon profil
  </a>

  <a title="Rédiger un article"
     *ngIf="config.hasPerm('publish')"
     routerLink="htmledit"
     mat-list-item
     id="cmdPublish">
    <mat-icon>subject</mat-icon>
    &nbsp;&nbsp;Publier un article
  </a>

  <a title="Ajouter des films dans le catalogue"
     *ngIf="config.hasPerm('add_movies')"
     routerLink="addpow"
     [queryParams]="{owner:'public'}"
     mat-list-item
     id="cmdAddMovie">
    <mat-icon>videocam</mat-icon>
    &nbsp;&nbsp;Gestion des films
  </a>

  <a title="Accèder à la console de statistiques"
     *ngIf="config.hasPerm('stats')"
     routerLink="stats"
     mat-list-item
     id="cmdOpenStats">
    <mat-icon>leaderboard</mat-icon>
    &nbsp;&nbsp;Statistiques
  </a>

  <a title="Accèder à la console developper"
     *ngIf="config.hasPerm('dev')"
     routerLink="dev"
     mat-list-item
     id="cmdOpenDev">
    <mat-icon>build</mat-icon>
    &nbsp;&nbsp;Développeurs
  </a>


  <br>
  <hr>
  <br>

  <a title="Changer vos permissions"
     *ngIf="config.user?.user?.email?.length>0"
     mat-list-item
     routerLink="profils"
     id="cmdEditPerms">
    <mat-icon>lock</mat-icon>
    &nbsp;&nbsp;Permissions
  </a>


  <a title="Effacer votre compte"
     *ngIf="config.user?.user?.email?.length>0"
     mat-list-item (click)="del_user()"
     id="cmdDeleteUser">
    <mat-icon>delete</mat-icon>
    &nbsp;&nbsp;Détruire votre compte
  </a>


  <a title="Se déconnecter"
     *ngIf="config.user?.user?.email?.length>0"
     mat-list-item (click)="logout()" id="cmdLogout">
    <mat-icon>logout</mat-icon>
    &nbsp;&nbsp;&nbsp;Se déconnecter
  </a>


  <a title="Se connecter"
     *ngIf="!config.user?.user || config.user?.user?.email?.length==0"
     mat-list-item
     (click)="router.navigate(['login'])"
     id="cmdLogin">
    <mat-icon>login</mat-icon>
    &nbsp;&nbsp;Se Connecter
  </a>
  <br>
  <br>

  <a title="Voir les NFTs"
     routerLink="nfts" mat-list-item
     id="cmdNFTS">
    <mat-icon>enhanced_encryption</mat-icon>&nbsp;Certification blockchain
  </a>

  <a title="Aide" routerLink="faqs"
     mat-list-item
     id="cmdHelp">
    <mat-icon>help</mat-icon>
    &nbsp;&nbsp;Aide
  </a>

  <a title="A propos" routerLink="about"
     mat-list-item
     id="cmdAbout">
    <mat-icon>article</mat-icon>
    &nbsp;&nbsp;A propos
  </a>

  <br>
  <br>
  <a title="Administration"
     *ngIf="isLocal || config.hasPerm('admin')"
     mat-list-item routerLink="admin"
     id="cmdAdmin">
    <mat-icon>settings</mat-icon>
    &nbsp;&nbsp;Console d'administration
  </a>

</mat-nav-list>

