@use "sass:map"
@use './node_modules/@angular/material' as mat
@import '../../dataculture'


mat-icon
  font-size: 25px
  margin-right: 12px
  margin-left: 5px


.sidemenu
  height: 95vh
  display: flex
  flex-direction: column
  border: none
  background: none
  background-color: mat.get-color-from-palette($dataculture-grey-palette,800)

header
  height: fit-content

footer
  height: fit-content
  margin-bottom: 20px

content
  flex: auto

a
  @extend mat-headline-6