<mat-nav-list class="sidemenu">
  <br>
  <header>
<!--    <div *ngIf="config.user?.user?.email.length>0" style="margin: 10px;" class="label">-->
<!--      <small>Bonjour,</small><br>-->
<!--      {{config.user?.user?.email}}-->
<!--      <br><br>-->
<!--    </div>-->
    <br>

    <a title="Consultation de l'annuaire"
       mat-list-item
       routerLink="search"
       id="cmdSearch">
      <mat-icon color="semigrey">people_alt</mat-icon>
      Annuaire
    </a>

    <a title="Voir les oeuvres des anciens"
       routerLink="pows"
       mat-list-item
       id="cmdShowMovies">
      <mat-icon>movie</mat-icon>
      Films
    </a>

    <a title="Voir le blog"
       routerLink="blog"
       mat-list-item
       id="cmdBlog">
      <mat-icon>rss_feed</mat-icon>
      Actualités
    </a>


    <a title="Editer votre profil"
       *ngIf="config.user?.profil && config.isLogin()"
       routerLink="edit"
       [queryParams]="{id:this.config.user?.profil}"
       mat-list-item
       id="cmdEditMyProfil">
      <mat-icon>build</mat-icon>
      Editer mon profil
    </a>


    <a title="Rédiger un article"
       *ngIf="config.hasPerm('publish')"
       routerLink="htmledit"
       mat-list-item
       id="cmdPublish">
      <mat-icon>history_edu</mat-icon>
      Publier
    </a>

    <br>

    <a title="Ajouter des films dans le catalogue"
       *ngIf="config.hasPerm('add_movies') && config.isLogin()"
       routerLink="addpow"
       [queryParams]="{owner:'public'}"
       mat-list-item
       id="cmdAddMovie">
      <mat-icon>videocam</mat-icon>
      Catalogue
    </a>

    <a title="Accèder à la console de statistiques"
       *ngIf="config.hasPerm('stats') && config.isLogin()"
       routerLink="stats"
       mat-list-item
       id="cmdOpenStats">
      <mat-icon>leaderboard</mat-icon>
      Datas
    </a>
  </header>


  <content style="flex:auto;"></content>


  <footer>
    <a title="Accèder à la console developper"
       *ngIf="config.hasPerm('dev')"
       routerLink="dev"
       mat-list-item
       id="cmdOpenDev">
      <mat-icon>build</mat-icon>
      Développeurs
    </a>

    <br>
    <a title="Modifier vos paramètres"
       *ngIf="config.isLogin()"
       mat-list-item
       routerLink="settings"
       id="cmdSettings">
      <mat-icon>person</mat-icon>
      Mon compte
    </a>




    <a title="Se déconnecter"
       *ngIf="config.isLogin()"
       mat-list-item (click)="logout()" id="cmdLogout">
      <mat-icon>logout</mat-icon>
      Se déconnecter
    </a>


    <a title="Se connecter"
       *ngIf="!config.user?.user || config.user?.user?.email?.length==0"
       mat-list-item
       (click)="router.navigate(['login'])"
       id="cmdLogin">
      <mat-icon>login</mat-icon>
      Se connecter
    </a>

    <a title="Voir les NFTs"
       routerLink="nfts"
       *ngIf="config.hasPerm('r_nft')"
       mat-list-item
       id="cmdNFTS">
      <mat-icon>shield</mat-icon>
      Certification
    </a>

    <a title="Aide" routerLink="faqs"
       mat-list-item
       id="cmdHelp">
      <mat-icon>help</mat-icon>
      Aide
    </a>


    <a title="A propos" routerLink="about"
       mat-list-item
       id="cmdAbout">
      <mat-icon>info</mat-icon>
      A propos
    </a>

    <a title="Administration"
       style="margin-top: 50px;"
       *ngIf="isLocal || config.hasPerm('admin')"
       mat-list-item routerLink="admin"
       id="cmdAdmin">
      <mat-icon>settings</mat-icon>
      Administration
    </a>

  </footer>
</mat-nav-list>

