<div class="mainform">
<app-profil [profil]="profil"
            class="large-card" width="90vw" style="display: inline-block;"
            [showAction]="false">
  <div style="width:100%;text-align: center;"
       *ngIf="profil?.photo.indexOf('assets/')==-1">
    <img [src]="profil?.photo" style="width:100%;max-height:300px;object-fit: cover;">
  </div>

  {{profil?.job}}<br>



<!--  Travaux -->
  <div *ngIf="profil?.works?.length>0">
    <hr>
    Expériences<br>
    <div class="wrap-list">
      <div *ngFor="let wrk of works" style="max-width: 400px;margin:1%;">
        <app-work [work]="wrk" backgroundColor="#265480">
        </app-work>
      </div>
    </div>
  </div>


<!--  Références sur internet-->
  <div *ngIf="profil?.links?.length>0">
    <hr>
    Références<br>
    <div *ngFor="let link of profil.links" style="max-width: 400px;margin:1%;">
      <a [href]="link.url" target="_blank">{{link.text}}</a>&nbsp;&nbsp;
    </div>
  </div>


</app-profil>

<div class="bottom-bar">
  <hr>
  <button mat-button mat-raised-button
            class="app-button"
            (click)="router.navigate(['search'],{queryParams:{filter:profil.lastname}})">
      Annuaire
   </button>
</div>
</div>
