<div class="mainform" style="text-align: center">
  <br>
  <mat-card class="app-card" style="display: inline-block;width:85%;max-width: 1200px;text-align: left;">
    <table style="padding: 0;margin-left:0;width: 100%;border: none;border-spacing: 0;" *ngIf="profil">
      <tr style="width: 100%;margin:0;">
        <td *ngIf="profil?.public_photo" style="width: 150px;">
          <div style="text-align: center;object-fit: cover;" >
            <img [src]="profil?.photo"
                 style="max-width:120px;height:100%;border-radius: 10px;"
                 class="mat-elevation-z4">
          </div>
        </td>

        <td>
          <div class="mat-subheading-1 blur" id="lblName">
            {{profil?.firstname+" "+profil?.lastname?.toUpperCase()}}
          </div>

          <hr class="dark_separator">
          <br>

          <table style="width:100%;margin:0;padding:0;;border-spacing: 10px;vertical-align: top;"
                 id="tableProperties"
                 class="mat-body-2 blur">
            <tr>
              <td [title]="'Composition de la promotion '+profil.degree_year" class="label mat-body-2" style="min-width: 200px;">Promotion<br></td>
              <td (dblclick)="router.navigate(['search'],{queryParams:{query:profil.degree_year}})" style="cursor: pointer;">{{profil?.degree_year}}</td>
            </tr>

            <tr>
              <td [title]="'En savoir plus sur le département '+profil.department+' de la FEMIS'" class="label">
                <span *ngIf="profil.cursus=='S'">Département</span>
                <span *ngIf="profil.cursus=='P'">Stage</span>
              </td>
              <td (dblclick)="router.navigate(['search'],{queryParams:{query:profil.department}})"
                  style="cursor: pointer;">
                {{profil?.department}}
              </td>
            </tr>

            <tr *ngIf="profil.works?.length>0" id="rowExperiences">
              <td class="label">Domaine d'activité</td>
              <td>
                {{expe}}<br>
              </td>
            </tr>
            <tr *ngIf="profil?.links?.length>0">
              <td class="label">Voir son profil sur</td>
              <td style="text-align: left;">
                <div *ngFor="let link of profil?.links" style="display: inline-block;">
                  <a [href]="link.url" target="_blank" style="color: darkgray;">{{link.text}}</a>&nbsp;&nbsp;
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <hr class="dark_separator">
    <br>

    <app-hourglass [message]="message"></app-hourglass>
    <br>

    <div style="margin: 5px;width:95%;line-height:120%;text-align: left;" *ngIf="message?.length==0">

      <mat-tab-group>
        <mat-tab label="FILMOGRAPHIE" *ngIf="profil?.works?.length>0">
          <div class="label" style="margin-top: 20px" *ngIf="profil.works?.length>5">({{profil.works.length}} résultats)</div><br>
          <app-timeline
                  style="margin-top: 20px;"
                  [data]="works_timeline"
                  [field_style]="field_style"
                  [field_class]="field_class"
                  row_style="vertical-align: top;width:100%;">
          </app-timeline>
        </mat-tab>
        <mat-tab label="RECOMPENSES" *ngIf="awards_timeline?.length>0">
          <div class="label"  *ngIf="profil.awards?.length>5" style="margin-top: 20px">({{profil.awards.length}} résultats=</div>
          <app-timeline class="column"
                        style="margin-top: 20px;"
                        [data]="awards_timeline"
                        [field_style]="field_style"
                        [field_class]="field_class"
                        row_style="vertical-align: top;width:100%;">
          </app-timeline>

        </mat-tab>
      </mat-tab-group>

      <br>
      <div style="margin-top:50px;width:100%;text-align: center;filter: grayscale(0.3);">
        <button mat-icon-button
                title="Partager ce profil"
                *ngIf="!config.isDesktop()"
                class="icon-button" (click)="share()">
          <mat-icon style="cursor: pointer;">shareic</mat-icon>
        </button>

        <div class="label mat-body-2">Partagez ce profil public sur vos réseaux</div><br>
        <!--      voir https://ngx-sharebuttons.netlify.app/ -->
        <share-buttons [theme]="'circles-light'"
                       style="text-align: center;filter: grayscale(1);opacity: 0.3;"
                       [include]="['facebook','twitter','linkedin','telegram','messenger','whatsapp','email','copy']"
                       [show]="8"
                       [url]="url"
                       description="Mon profil et mes réalisations sur l'annuaire de la FEMIS"
                       tags="FEMIS"
                       [title]="title">
        </share-buttons>
      </div>

    </div>

  </mat-card>


  <!--    <mgl-timeline [mobileWidthThreshold]="200"-->
  <!--                  [toggle]="false"-->
  <!--                  [alternate]="false"-->
  <!--                  side="right"-->
  <!--                  style="color:black"-->
  <!--                  [focusOnOpen]="true">-->

  <!--      <mgl-timeline-entry *ngFor="let wrk of items">-->

  <!--        <mgl-timeline-entry-header>-->
  <!--          {{wrk.pow.title}}<br>-->
  <!--          <span style="font-size: x-small">{{wrk.pow.nature}}/{{wrk.pow.category}}</span>-->
  <!--        </mgl-timeline-entry-header>-->
  <!--        <mgl-timeline-entry-content style="font-size: small;line-height: 85%;">-->
  <!--          {{wrk.job}}<br>-->
  <!--          <small>-->
  <!--            <a [href]="wrk.pow.link[0].url" target="_blank" class="app-link">-->
  <!--              {{wrk.pow.link[0].text.replace('auto:','')}}-->
  <!--            </a>-->
  <!--          </small>-->
  <!--        </mgl-timeline-entry-content>-->
  <!--        <mgl-timeline-entry-dot [size]="40" style="color:red;"-->
  <!--                                expandAnimationTiming="200ms ease"-->
  <!--                                collapseAnimationTiming="100ms ease"-->
  <!--        >-->
  <!--        </mgl-timeline-entry-dot>-->
  <!--        <mgl-timeline-entry-side *ngIf="wrk.show_year" style="font-size: 1.8em;text-align: right;color: white;">-->
  <!--          <br>{{wrk.pow.year}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
  <!--        </mgl-timeline-entry-side>-->
  <!--      </mgl-timeline-entry>-->
  <!--    </mgl-timeline>-->



  <!--  Travaux old version -->
  <!--  <div *ngIf="profil?.works?.length>0" style="width: 100%;text-align: center;margin:0;">-->
  <!--    <br><br>Expériences<br><br>-->
  <!--    <div class="wrap-list" style="width: 100%;">-->
  <!--      <app-work *ngFor="let wrk of works"-->
  <!--                [work]="wrk"-->
  <!--                style="margin:5px;"-->
  <!--                maxwidth="450px"-->
  <!--                width="350px"-->
  <!--                minheight="100px"-->
  <!--                height="auto"-->
  <!--                backgroundColor="#1c1a1a">-->
  <!--        <br>-->

  <!--          <img  *ngFor="let a of wrk.pow.awards"-->
  <!--                src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/282/trophy_1f3c6.png"-->
  <!--                style="width: 35px;display: inline-block;margin:3px;cursor: pointer"-->
  <!--                (click)="open_price(a,wrk.pow.title)"-->
  <!--                [title]="a.title+': '+a.description+'('+a.year+')'"-->
  <!--               >-->

  <!--      </app-work>-->
  <!--    </div>-->
  <!--  </div>-->


</div>
