<div class="mainform" style="text-align: left !important;margin: 5px;font-size: large;">
  <br>
  <table style="padding: 0px;margin:0px;width: 100%;" *ngIf="profil">
    <tr style="width: 100%;">
      <td *ngIf="profil?.public_photo" style="width: 150px;">
        <div style=";text-align: center;object-fit: cover;" >
          <img [src]="profil?.photo" style="max-width:120px;height:100%;border-radius: 10px;" class="mat-elevation-z8">
        </div>
      </td>

      <td>
        <div style="font-size: 2em ;font-weight: lighter;">
          {{profil?.firstname+" "+profil?.lastname}}
          <mat-icon title="Voir la page publique" (click)="share()" style="cursor: pointer;">share</mat-icon>
        </div>
        <br>
        &nbsp;{{profil?.department}}<br>
        &nbsp;Promotion {{profil?.degree_year}}<br>

        <div *ngIf="profil?.links?.length>0">
          <br>
          <small>Voir mon profil sur :</small>
          <div *ngFor="let link of profil?.links" style="max-width: 400px;margin:1%;display: inline-block;">
            <a [href]="link.url" target="_blank">{{link.text}}</a>&nbsp;&nbsp;
          </div>
        </div>
      </td>
      <td style="width:30px;margin:5px;text-align: center;vertical-align: text-top;">

      </td>
    </tr>
  </table>




  <!--  Travaux -->
  <div *ngIf="profil?.works?.length>0" style="width: 100%;text-align: center;margin:0px;">
    <br><br>Expériences<br><br>
    <div class="wrap-list" style="width: 100%;">
      <app-work *ngFor="let wrk of works"
                [work]="wrk"
                style="margin:5px;"
                maxwidth="450px"
                width="350px"
                minheight="100px"
                height="auto"
                backgroundColor="#1c1a1a">
        <br>

          <img  *ngFor="let a of wrk.pow.awards"
                src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/282/trophy_1f3c6.png"
                style="width: 35px;display: inline-block;margin:3px;cursor: pointer"
                (click)="open_price(a,wrk.pow.title)"
                [title]="a.title+': '+a.description+'('+a.year+')'"
               >

      </app-work>
    </div>
  </div>

</div>
