<div class="mainform">
  <br>
  <h2>Importer des profils</h2>
  <br>
  <app-hourglass [message]="message"></app-hourglass>


  <input #csvInput hidden="true"
         type="file" onclick="this.value=null"
         (change)="import($event)"
         accept=".csv"/>

  <button mat-raised-button
          mat-button class="app-button"
          (click)="csvInput.click()">
    Importer depuis Excel
  </button>

  <br>
  <br>

  <a href="./assets/modele_import.csv">Télécharger le modèle d'importation</a>

  <br>


</div>
